* {
    text-align: center;
    font-family: "font";
    color: white;
}

@font-face {
    font-family: "font";
    src: url("font.otf");
}

body {
    background: #000000;
}

div.caption {
    font-size: 25px;
}
